/* alarm.module.css */

.container {
    padding: 1rem;
    max-height: 80vh;
    overflow-y: auto;
}

.containerUnread {
    /* Styles for when there are unread alarms */
    padding: 16px;
    background-color: #e9ecef; /* Lighter color or any other highlight */
    border: 1px solid #dee2e6; /* Optional: border to indicate change */
    border-radius: 8px;
}
.title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.noAlarms {
    color: #888;
}

.alarmList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.alarmListUnread {
    background-color: #f9f9f9; /* Background color for lists with unread items */
}

.alarmItem {
    cursor: default; /* Default cursor for items */
    padding: 0.75rem;
    border-bottom: 1px solid #ddd;
    transition: transform 0.2s ease, background-color 0.2s ease;
    position: relative;
}

.unreadItem {
    background-color: cornflowerblue;

    /*background-color: #fef2f2; !* Background color for unread items *!*/
    cursor: pointer; /* Pointer cursor for clickable items */
}

.unreadItem:hover {
    transform: scale(1.02); /* Slightly enlarge item on hover */
}

.unreadItem:active {
    background-color: cornflowerblue; /* Light red background when clicked */
}

.unreadItem::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1rem;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #f9f9f9;
    transform: translateY(-50%);
    transition: background-color 0.2s ease;
}

.unreadItem:hover::after {
    background-color: #ff5722; /* Color change on hover for unread items */
    content: '✓'; /* Checkmark symbol */
    color: white; /* Checkmark color */
    font-size: 12px; /* Adjust size of checkmark */
    text-align: center;
    line-height: 16px; /* Center the checkmark vertically */
}

.alarmMsg {
    font-size: 1rem;
    color: #333;
    font-weight: normal;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    overflow-wrap: break-word;
}


.viewAllLink {
    width: 100%;
    height: 100%;
    margin-top: 16px;
    text-align: center;
}
.viewAllLinkBtn{
    width: 100%;
    height: 100%;
}

