/* product-list.module.css */

.productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px; /* Adjust the gap between items as needed */
    padding: 20px;
}

.productCard {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

.productImage {
    width: 100%;
    height: auto;
}


.productName {
    font-size: 1.2em;
    margin: 0.5em 0;
    /* Multi-line ellipsis */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to display */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4em; /* Adjust line-height as needed */
    height: 2.8em; /* Adjust height based on line-height and number of lines */
}

.productDescription {
    font-size: 0.9em;
    color: #555;
}

.productPrice {
    font-size: 1.1em;
    color: #000;
    margin: 0.5em 0;
}
