/* 전체 컨테이너 스타일 */
.container {
    padding: 20px;
    background-color: #f9fafb;
    max-width: 100%; /* 원하는 최대 너비 설정 */
    margin: 0 auto;
}

/* 로딩 및 에러 메시지 스타일 */
.loading,
.error {
    color: #555;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.noProduct {
    text-align: center;
    color: #888;
    font-size: 18px;
}

/* 상품 이미지 스타일 */
.productImage {
    width: 100%; /* 최대 폭을 부모 컨테이너에 맞추기 */
    max-width: 600px; /* 이미지의 최대 너비 설정 */
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

/* 버튼 컨테이너 스타일 */
.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

/* 버튼 스타일 */
.button {
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #005bb5;
}

.deleteButton {
    background-color: #e53e3e;
}

.deleteButton:hover {
    background-color: #c53030;
}

.deleteButton:disabled {
    background-color: #f56565;
    cursor: not-allowed;
}
.productCard {
    /*background-color: #fff;*/
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.productImage {
    width: 100%;
    height: auto;
    max-width: 200px; /* 이미지 크기 조정 */
    border-radius: 8px;
    object-fit: cover; /* 이미지 비율 유지 */
    margin-bottom: 16px;
}

.productName {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 8px 0;
}

.productDescription {
    font-size: 1rem;
    color: #555;
    margin: 8px 0;
}

.productPrice {
    font-size: 1.125rem;
    font-weight: 700;
    color: #333;
    margin: 8px 0;
}

.productLink {
    display: inline-block;
    font-size: 1rem;
    color: #0070f3;
    text-decoration: none;
    margin: 8px 0;
}

.productLink:hover {
    text-decoration: underline;
}
