.reviewsContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-height: calc(100vh - 400px); /* 화면 높이에서 폼과 여백을 제외한 최대 높이 설정 */
    overflow-y: auto; /* 리뷰 리스트가 많아지면 세로 스크롤 추가 */
    position: relative; /* 폼을 절대 위치로 배치하기 위한 상대 위치 설정 */
}

/* 리뷰 제목 */
.reviewsTitle {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #333;
}

/* 개별 리뷰 카드 */
.reviewCard {
    display: flex;
    align-items: center; /* 사용자 정보와 리뷰 내용을 옆으로 배치 */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 리뷰 헤더 */
.reviewHeader {
    display: flex;
    align-items: center;
    margin-right: 10px; /* 사용자 정보와 리뷰 내용 사이 간격 */
}

/* 프로필 이미지 */
.reviewProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.75rem;
    border: 2px solid #ddd;
}

.reviewInfo {
    display: flex;
    flex-direction: column;
}

.reviewUsername {
    font-weight: bold;
    color: #333;
}

.reviewContent {
    font-size: 1rem;
    color: #555;
    flex-grow: 1; /* 남은 공간을 리뷰 내용이 차지하게 함 */
}

.noReviewsMessage {
    text-align: center;
    font-style: italic;
    color: #666;
}

/* 리뷰 작성 폼 스타일 */
.reviewForm {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 인풋 필드 */
.reviewInput {
    flex-grow: 1;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    margin-right: -1px; /* 버튼과 인풋 사이에 경계가 없도록 */
}

/* 제출 버튼 */
.reviewSubmitButton {
    padding: 8px 12px;
    font-size: 0.9rem;
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.reviewSubmitButton:hover {
    background-color: #0056b3;
}
