/* recipe-card.module.css */

.card {
    overflow: hidden;
    border-radius: 0.5rem; /* rounded-lg */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-lg */
    transition: transform 0.3s ease; /* transition-transform */
    display: flex;
    flex-direction: column; /* Allow content to stack vertically */
}

.card:hover {
    transform: scale(1.05); /* hover:scale-105 */
}

.cardContent {
    flex: 1; /* Allow content to expand */
    display: flex;
    flex-direction: column;
    padding: 0; /* Remove default padding */
}

.img {
    display: block; /* Make image block to remove inline spaces */
    width: 100%;
    height: 12rem; /* h-48 */
    object-fit: cover; /* object-cover */
    border-top-left-radius: 0.5rem; /* rounded-t-lg */
    border-top-right-radius: 0.5rem; /* rounded-t-lg */
}

.userSmallImg {
    display: block; /* Make image block to remove inline spaces */
    width: 20px;
    height: 20px; /* h-48 */
    object-fit: cover; /* object-cover */
}

.textContent {
    flex: 1; /* Allow text content to expand */
    padding: 1rem; /* Add padding for text content */
    display: flex;
    flex-direction: column;
}

.flexContainer {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items */
    gap: 1rem; /* space-x-4 */
}

.likeContainer {
    display: flex;
    align-items: center;
    gap: 0.25rem; /* space-x-1 */
    color: #f87171; /* text-red-500 */
}

.description {
    color: #4b5563; /* text-gray-600 */
    display: -webkit-box;
    -webkit-line-clamp: 4; /* 최대 5줄까지 표시 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.details {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem; /* space-x-2 */
    color: #4b5563; /* text-gray-600 */
}

.detailItem {
    background-color: #e5e7eb; /* bg-gray-200 */
    padding: 0.25rem 0.5rem; /* px-2 py-1 */
    border-radius: 0.375rem; /* rounded */
}
  