.container {
    display: flex;
    align-items: center;
    space-x: 8px;
    transition: transform 0.3s, font-size 0.3s;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.container:hover {
    transform: scale(1.05); /* 전체 요소를 약간 확대 */
}

.profileImage {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s; /* 이미지 크기 변화 애니메이션 */
}

.container:hover .profileImage {
    transform: scale(1.2); /* 이미지 크기 확대 */
}

.username {
    font-size: 14px;
    color: #333;
    transition: font-size 0.3s; /* 폰트 크기 변화 애니메이션 */
}

.container:hover .username {
    font-size: 16px; /* 폰트 크기 확대 */
}
