/* user-profile.module.css */
.container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.profileHeader {
    text-align: center;
}

.profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block; /* ensure it is treated as a block element for centering */
    margin: 0 auto; /* centers the image horizontally */
}

.username {
    font-size: 2rem;
    margin: 10px 0;
}

.introduction {
    font-size: 1rem;
    color: #666;
    margin-top: 10px; /* space between introduction and other elements */
}
.followButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.followButton:hover {
    background-color: #0056b3;
}


.following {
    background-color: #28a745;
}

.notFollowing {
    background-color: #007bff;
}